.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

.home h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
  }
}